## Exercícios 

Nesta lista de exercícios você vai colocar em prática um pouco do que aprendemos nesse módulo 4. O código para carregar o dataset já está disponível para você. Leia cada exercício atentamente e coloque em prática suas habilidades analíticas. Quero que seja curioso. Todas as questões podem ser resolvidas com tudo já estudado até aqui no curso e consulte a documentação Python/Pandas/Numpy se necessário! Simbóra!

In [91]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [129]:
df = pd.read_csv('exercicios_m4.csv', parse_dates = ['Data'], usecols = list(range(0,6)))

In [93]:
df.dtypes

Data          datetime64[ns]
Distancia            float64
Tempo                 object
Segundos             float64
Minutos              float64
Min_Por_Km           float64
dtype: object

In [94]:
df.sort_index(inplace = True)
df.head()

        Data  Distancia Tempo  Segundos  Minutos  Min_Por_Km
0 2015-08-02       1.70   NaN       NaN      NaN         NaN
1 2015-08-03       1.40   NaN       NaN      NaN         NaN
2 2015-08-04       2.10   NaN       NaN      NaN         NaN
3 2015-08-06       2.38   NaN       NaN      NaN         NaN
4 2015-08-07       2.30   NaN       NaN      NaN         NaN

In [95]:
df.shape

(81, 6)

In [96]:
df

         Data  Distancia    Tempo  Segundos     Minutos  Min_Por_Km
0  2015-08-02       1.70      NaN       NaN         NaN         NaN
1  2015-08-03       1.40      NaN       NaN         NaN         NaN
2  2015-08-04       2.10      NaN       NaN         NaN         NaN
3  2015-08-06       2.38      NaN       NaN         NaN         NaN
4  2015-08-07       2.30      NaN       NaN         NaN         NaN
..        ...        ...      ...       ...         ...         ...
76 2015-12-24       3.05  0:25:08    1508.0   25.133333    8.240437
77 2015-12-25      14.80  2:20:00    8400.0  140.000000    9.459459
78 2015-12-26       5.20      NaN       NaN         NaN         NaN
79 2015-12-30       3.15  0:22:10    1330.0   22.166667    7.037037
80 2016-01-01      26.20  4:20:43   15643.0  260.716667    9.951018

[81 rows x 6 columns]

In [97]:
df.isnull().sum()

Data           0
Distancia      0
Tempo         29
Segundos      29
Minutos       29
Min_Por_Km    29
dtype: int64

In [98]:
# Exercício 1 - Qual o valor máximo da coluna Minutos?

In [99]:
max_minutos = df['Minutos'].max()
max_minutos

260.71666666666664

In [100]:
# Exercício 2 - Qual o valor mínimo da coluna Minutos?

In [101]:
min_minutos = df['Minutos'].min()
min_minutos

6.266666666666667

In [102]:
# Exercício 3 - Qual o valor médio da coluna Minutos?

In [103]:
media_minutos = df['Minutos'].mean() 
media_minutos

31.69647435897436

In [104]:
# Exercício 4 - Qual o valor mínimo de distância acima de 2.0?

In [148]:
df.Distancia[df.Distancia > 2.0].min()

2.01

In [143]:

valores_minimos_acima_de_2 = {}
for coluna in df.columns:
    if pd.api.types.is_numeric_dtype(df[coluna]):
        distancias_acima_de_2 = df[df[coluna] > 2.0]
        valor_minimo_acima_de_2 = distancias_acima_de_2[coluna].min()
        valores_minimos_acima_de_2[coluna] = valor_minimo_acima_de_2
    else:
        # Se a coluna for do tipo datetime64[ns], você pode querer fazer outro tipo de filtragem ou tratamento
        valores_minimos_acima_de_2[coluna] = "Coluna não numérica"

print("Valores mínimos de cada coluna acima de 2.0:")
print(valores_minimos_acima_de_2)

Valores mínimos de cada coluna acima de 2.0:
{'Data': 'Coluna não numérica', 'Distancia': 2.01, 'Tempo': 'Coluna não numérica', 'Segundos': 376.0, 'Minutos': 6.266666666666667, 'Min_Por_Km': 6.0}

In [31]:
# Exercício 5 - Qual a data no índice de posição zero?

In [110]:
df_indice_0 = data['Data'].head(1)
df_indice_0

0   2015-08-02
Name: Data, dtype: datetime64[ns]

In [32]:
# Exercício 6 - Extraia o dia da semana do valor do campo "Data" de índice [0] usando a função .strftime("%A")

In [136]:
df['Data'] = pd.to_datetime(df['Data'])

# Extrair o dia da semana do valor no índice [0]
dia_da_semana = df['Data'][0].strftime("%A")

dia_da_semana

'Sunday'

In [33]:
# Exercício 7 - Qual o data nos índices nas 5 primeiras posições?

In [151]:
df['Data'].head(5)

0   2015-08-02
1   2015-08-03
2   2015-08-04
3   2015-08-06
4   2015-08-07
Name: Data, dtype: datetime64[ns]

In [34]:
# Exercício 8 - Delete a coluna Tempo do dataframe data.

In [112]:
data_sem_tempo = df.drop(columns = ['Tempo'])
data_sem_tempo

         Data  Distancia  Segundos     Minutos  Min_Por_Km
0  2015-08-02       1.70       NaN         NaN         NaN
1  2015-08-03       1.40       NaN         NaN         NaN
2  2015-08-04       2.10       NaN         NaN         NaN
3  2015-08-06       2.38       NaN         NaN         NaN
4  2015-08-07       2.30       NaN         NaN         NaN
..        ...        ...       ...         ...         ...
76 2015-12-24       3.05    1508.0   25.133333    8.240437
77 2015-12-25      14.80    8400.0  140.000000    9.459459
78 2015-12-26       5.20       NaN         NaN         NaN
79 2015-12-30       3.15    1330.0   22.166667    7.037037
80 2016-01-01      26.20   15643.0  260.716667    9.951018

[81 rows x 5 columns]

In [127]:
# Exercício 9 - Qual a média para cada uma das colunas por dia da semana?

In [ ]:
df = pd.read_csv('exercicios_m4.csv', parse_dates = ['Data'], usecols = list(range(0,6)))

In [124]:
df['Data'] = pd.to_datetime(df['Data'])

# Extrai o dia da semana de cada data (0 = segunda-feira, 1 = terça-feira, ..., 6 = domingo)
df['Dia_Semana'] = df['Data'].dt.dayofweek

# Remova a coluna "Data", se ela não for mais necessária para o cálculo
df.drop(columns=['Data'], inplace=True)

# Converta todas as colunas numéricas para o tipo float (para lidar com eventuais dados não numéricos)
df = df.apply(pd.to_numeric, errors='coerce')

# Agrupe o DataFrame por dia da semana e calcule a média para cada coluna
media_por_dia_semana = df.groupby('Dia_Semana').mean()

print("Média para cada coluna por dia da semana:")
print(media_por_dia_semana)

Média para cada coluna por dia da semana:
            Distancia  Tempo     Segundos    Minutos  Min_Por_Km
Dia_Semana
0            2.422727    NaN  1185.750000  19.762500    7.463840
1            2.607143    NaN  1334.600000  22.243333    7.463291
2            2.428182    NaN  1306.250000  21.770833    7.659706
3            3.315000    NaN  1681.285714  28.021429    7.829348
4            6.315000    NaN  5071.800000  84.530000    8.039543
5            2.786000    NaN  1458.500000  24.308333    7.747657
6            3.246429    NaN  2802.500000  46.708333    8.184961

## FIM

### Valeu - Ciência dos Dados - <a href="http://instagram.com/cienciadosdadosbr">instagram.com/cienciadosdadosbr</a>